@page
@model MyApp.Namespace.InfoServersModel
@{
    
}
<table>
    @if(Model.Servers == null){
        <h2>No servers specified</h2>
    }
    else{
        @foreach (var server in Model.Servers)
        {
            <tr>
                <td>@server.Name</td>
                <td>@server.Id</td>
                <td>@server.IPAddress</td>
                <td>@server.IsConnected</td>
                <td>@server.UseCPU</td>
                <td>@server.UseMemory</td>
                <td>@server.CountClient</td>
                <td>
                    <a asp-page="/EditServer" asp-route-id="@server.Id">Edit</a>
                </td>
            </tr>
        }
    }
</table>